html, body {
  height: 100%;
}
body{
  background-image: url('../media/background.jpg');
  margin: 0px;
  font-family: "Comic Sans MS";
  color: white;
  font-weight: bold;
}
.wrapper{
    height: 100%;
}

.row-1{
    height:80%;
}

.container-fluid{
    background-color: #e40046;
    overflow: auto;
    width: 100%;
    height: 20%;
}

.page-content-wrapper{
    height: 100%;
}

.col-lg-12{
    height: 100%;
}

.col-lg-12 > h1 {
  padding: 30px;
  margin: 0px;
}

.row-2{
  position: relative;
  width: 100%;
  height: 20%;
}

.category-container{
    width: 100%;
  height: 100%;
  margin: auto;
    outline: 1px solid;
}
.category-options{
  width: 20%;
  height: 100%;
  float: left;
  color: white;
  display: flex;
  align-items: center;
}

.category-options span{
    margin: auto;
}

.category-options:hover{
    background-color: #ff0066;
}

.main-options-container{
    box-shadow: 15px 0px 12px #888888;
    border: solid #FFFFFF 0.1vmin;
    border-radius: 2vmin;
    background-color: white;
    width: 21.5%;
    margin: 1.5%;
    float: left;
    font-size: 1.8vw;
}

.main-options-container > div{
    color: black;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
