<!DOCTYPE html>
<html>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
<script src="{{ url_for('static',filename='scripts/jquery-3.0.0.js') }}"></script>
<script src="{{ url_for('static',filename='js/view.js') }}"></script>
<body>
<div id="wrapper" class="wrapper">
    <!-- Make sure to keep all page content within the #page-content-wrapper div. -->
    <!-- Page Content -->
    <div id="page-content-wrapper" class="page-content-wrapper">
        <div class="container-fluid">
            <div class="row-1">
                <div class="col-lg-12">
                    <h1>Fête</h1>
                </div>
            </div>
            <div class="row-2">
                <div id="catergory-container" class="category-container">
                    <div id="category-container-1" class="category-container-1 category-options"><span>Theme Parties</span></div>
                    <div id="category-container-2" class="category-container-2 category-options"><span>Holiday Parties</span></div>
                    <div id="category-container-3" class="category-container-3 category-options"><span>Toys & Games</span></div>
                    <div id="category-container-1" class="category-container-1 category-options"><span>Candy</span></div>
                    <div id="category-container-1" class="category-container-1 category-options"><span>Baking</span></div>
                </div>
            </div>
        </div>
        <div id="main-options-container-1" class="main-options-container-1 main-options-container">
            <div>Party Bundles</div>
        </div>
        <div id="main-options-container-2" class="main-options-container-2 main-options-container">
            <div>Custom Bundles</div>
        </div>
        <div id="main-options-container-3" class="main-options-container-3 main-options-container">
            <div>Themed Bundles</div>
        </div>
        <div id="main-options-container-4" class="main-options-container-4 main-options-container">
            <div>Catering Service</div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
</body>

</html>
